.cardBody {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 30px;
  margin-top: 50px;
  width: 40vw;
  height: 30vh;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.weatherCity {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 5px;
  font-size: 40px;
}
.tempMinMax {
  align-self: center;
  font-size: 15px;
  padding-left: 10px;
}

.weatherInfo {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  /* border: 2px solid red; */
}

.currentTemp {
  font-size: 60px;
}

.description {
  font-size: 20px;
}

.prediction {
  font-size: 15px;
  align-self: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
}
