.cardBody {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 30px;
  margin-top: 50px;
  width: 50%;
  height: 60%;
  border: 1px solid black;
  position: relative;
}

.weatherCity {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 5px;
  font-size: 50px;
}
.tempMinMax {
  align-self: center;
  font-size: 15px;
  padding-left: 10px;
}

.weatherInfo {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  /* border: 2px solid red; */
}
.iconInfo {
  /* height: 100%; */
  /* width: 100%; */
}

.currentTemp {
  font-size: 70px;
  /* align-self: center; */
}

.description {
  font-size: 20px;
}

.prediction {
  font-size: 15px;
  align-self: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
}
