.headerbody {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #1063fc;
  padding: 20px;
}

.logo {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  font-size: 40px;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  color: white;
  margin: 20px;
  text-shadow: 4px 2px #000000;
}

.secondWord {
  color: #f18100;
}

.searchButton {
  margin-left: 20px;
  width: 100px;
  height: 35px;
  background-color: white;
  border-radius: 7px;
}

.searchButton:hover {
  background-color: #1063fc;
  color: white;
}
